!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RemoteBingo
    = csrf_meta_tags
    = csp_meta_tag
    %script{:src => "https://cdn.jsdelivr.net/npm/vueinview@1.0.5/dist/vue-inview.min.js"}
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css2?family=Monoton&display=swap", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap", :rel => "stylesheet"}
    %link{:href => "https://fonts.googleapis.com/css2?family=Bungee+Outline&display=swap", :rel => "stylesheet"}

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    #app
      %hamberger
      %router-view
      = yield
  = javascript_pack_tag 'main'
  = stylesheet_pack_tag 'main'
